<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="https://www.thudiumdesign.com">
  	<%= image_tag("thudium_logo.png", width: "100em") %>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">IN&Iacute;CIO <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">SERVI&Ccedil;OS</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">PORTF&Oacute;LIO</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">SOBRE N&Oacute;S</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">OR&Ccedil;AMENTO</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
	<div class="hero">
		<div class="row">
			<div class="col-12">
				<h1>THUDIUM DESIGN, UM BOM NEG&Oacute;CIO.</h1>
				<button> SOLICITE UM OR&Ccedil;AMENTO AGORA!</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<h2>SERVI&Ccedil;OS</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3">
			<%= image_tag("Images_Default.png", width: "100em") %>
			<h4>IDENTIDADE VISUAL</h4>
			<p>
				Conjunto de todo o material gráfico da marca. A imagem que vai transmitir e divulgar seu negócio. O desenvolvimento  terá como base a logotipia, que se complementa e reforça o conceito a ser comunicado ou um símbolo, que também pode representar a marca e ser indispensável.
			</p>
		</div>
		<div class="col-lg-3">
			<%= image_tag("Images_Default.png", width: "100em") %>
			<h4>SITE</h4>
			<p>
				Criação de site para empresas que queiram transmitir uma nova imagem da marca, com intúito de atrair mais clientes para seu negócio. O site é o cartão de visita de qualquer instituição e para isso, criamos sites funcionais.
			</p>
		</div>
		<div class="col-lg-3">
			<%= image_tag("Images_Default.png", width: "100em") %>
			<h4>FOTOGRAFIA</h4>
			<p>
				Atuamos no setor de fotografia e edição de imagem, agregando valor a marca, site ou eventos de acordo com a necessidade do cliente. Temos equipamentos  e profissionais especializados para qualquer tipo de ambiente.
			</p>
		</div>
		<div class="col-lg-3">
			<%= image_tag("Images_Default.png", width: "100em") %>
			<h4>PROJETOS</h4>
			<ul>
				<li>Embalagens; rótulos</li>
				<li>Assinaturas visuais (logotipo e/ou símbolo apenas)</li>
				<li>Catálogos e flyers impressos</li>
				<li>Sinalização interna e externa</li>
				<li>Personalização de frotas</li>
				<li>PDV (ponto de venda) * layout</li>
				<li>Cartão de visita</li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<h2>PORTF&Oacute;LIO</h2>
		</div>
	</div>
	<div class="row no-gutters">
		<div class="col-4">
			<%= image_tag("https://static.wixstatic.com/media/a33af6_887c10144e144e9cb0cc7d31df3495a2~mv2.png/v1/fill/w_652,h_488,al_c,q_80,usm_0.66_1.00_0.01/a33af6_887c10144e144e9cb0cc7d31df3495a2~mv2.png", width: "80%")%>
		</div>
		<div class="col-4">
			<%= image_tag("https://static.wixstatic.com/media/a33af6_887c10144e144e9cb0cc7d31df3495a2~mv2.png/v1/fill/w_652,h_488,al_c,q_80,usm_0.66_1.00_0.01/a33af6_887c10144e144e9cb0cc7d31df3495a2~mv2.png", width: "80%")%>
		</div>
		<div class="col-4">	
			<%= image_tag("https://static.wixstatic.com/media/a33af6_887c10144e144e9cb0cc7d31df3495a2~mv2.png/v1/fill/w_652,h_488,al_c,q_80,usm_0.66_1.00_0.01/a33af6_887c10144e144e9cb0cc7d31df3495a2~mv2.png", width: "80%")%>
		</div>
		<div class="col-4">	
			<%= image_tag("https://static.wixstatic.com/media/a33af6_887c10144e144e9cb0cc7d31df3495a2~mv2.png/v1/fill/w_652,h_488,al_c,q_80,usm_0.66_1.00_0.01/a33af6_887c10144e144e9cb0cc7d31df3495a2~mv2.png", width: "80%")%>
		</div>
		<div class="col-4">
			<%= image_tag("https://static.wixstatic.com/media/a33af6_887c10144e144e9cb0cc7d31df3495a2~mv2.png/v1/fill/w_652,h_488,al_c,q_80,usm_0.66_1.00_0.01/a33af6_887c10144e144e9cb0cc7d31df3495a2~mv2.png", width: "80%")%>
		</div>
		<div class="col-4">
			<%= image_tag("https://static.wixstatic.com/media/a33af6_887c10144e144e9cb0cc7d31df3495a2~mv2.png/v1/fill/w_652,h_488,al_c,q_80,usm_0.66_1.00_0.01/a33af6_887c10144e144e9cb0cc7d31df3495a2~mv2.png", width: "80%")%>
		</div>
		<div class="col-4">	
			<%= image_tag("https://static.wixstatic.com/media/a33af6_887c10144e144e9cb0cc7d31df3495a2~mv2.png/v1/fill/w_652,h_488,al_c,q_80,usm_0.66_1.00_0.01/a33af6_887c10144e144e9cb0cc7d31df3495a2~mv2.png", width: "80%")%>
		</div>
		<div class="col-4">
			<%= image_tag("https://static.wixstatic.com/media/a33af6_887c10144e144e9cb0cc7d31df3495a2~mv2.png/v1/fill/w_652,h_488,al_c,q_80,usm_0.66_1.00_0.01/a33af6_887c10144e144e9cb0cc7d31df3495a2~mv2.png", width: "80%")%>	
		</div>
		<div class="col-4">
			<%= image_tag("https://static.wixstatic.com/media/a33af6_887c10144e144e9cb0cc7d31df3495a2~mv2.png/v1/fill/w_652,h_488,al_c,q_80,usm_0.66_1.00_0.01/a33af6_887c10144e144e9cb0cc7d31df3495a2~mv2.png", width: "80%")%>
		</div>
		<div class="col-4">	
			<%= image_tag("https://static.wixstatic.com/media/a33af6_887c10144e144e9cb0cc7d31df3495a2~mv2.png/v1/fill/w_652,h_488,al_c,q_80,usm_0.66_1.00_0.01/a33af6_887c10144e144e9cb0cc7d31df3495a2~mv2.png", width: "80%")%>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<h2>THUDIUM DESIGN</h2>
			<h3>UM EST&Uacute;DIO CRIATIVO</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-sm-6">
			<h4>QUEM SOMOS?</h4>
			<p>
				Um escritório de design focado em Branding, localizado em Porto Alegre e que atua no mercado do design gráfico visando a criatividade e o bom relacionamento com você, nosso cliente.
			</p>
			<p>
				Buscamos entender as suas necessidades e construir imagens que transmitam os valores, as ideias e as características do seu negócio. O nosso intuito é transmitir mais visibilidade e confiança ao mercado e, por isso, buscamos entender nossos clientes de uma forma única e diferenciada, que visa criar, mais que ideias, mas soluções eficientes e poderosas que vão impulsionar o seu negócio.
			</p>
		</div>
		<div class="col-12 col-sm-6">
			<h4>O QUE FAZEMOS?</h4>
			<p>
				Nós fazemos design! Design é projeto, e projetos são desenvolvidos através de pesquisa, conceituação e muita criatividade! O processo de criação é realizado em etapas e, para tanto, aprofundamos o envolvimento direto com o cliente na busca de resultados certeiros e positivos. Projetamos identidades visuais que fazem a sua marca diferenciar-se entre tantas outras, mobilizar e refletir uma forma única de se relacionar e de se expressar. A nossa proposta é consolidar marcas, expressando o seu diferencial!
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<h2>SOLICITE SEU OR&Ccedil;AMENTO GR&Aacute;TIS!</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-sm-7">
			<h4>Quer saber como podemos ajudar a sua empresa a se comunicar melhor?</h4>
			<p>Solicite agora um orçamento sem nenhum custo.</p>
			<p>Ficaremos felizes com o seu contato!</p>
		</div>
		<div class="col-12 col-sm-5">
		</div>
	</div>
</div>
